// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html,
body {
    background-color: #202B33;
    color: #738491;
    font-family: "Open Sans";
    font-size: 16px;
    font-smoothing: antialiased;
    overflow: hidden;
}